@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

textarea, input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cccccc;
}

textarea {
  width: 100%;
  resize: none;
  font-size: 15px; 
  padding: 10px;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.container-main {
  padding: 0 10px;
  max-width: 750px; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

#header > #logo
{
  display: block;
  height: auto;
  font-size: 35px; 
  line-height: 50px;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

#menu {
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
}

#main {
  clear: both; 
  flex: 1;
}

#footer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  font-size: 14px;
  color: #777777;
}

#menu > ul {
  display: flex;
  margin: 0;
  text-transform: uppercase;
}

#menu > ul a {
  flex: 1;
  color: black;
  text-decoration: none;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
}

#menu > ul li {
  height: 40px;
  padding: 0; 
  margin: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

#menu > ul li.active{
  border-bottom: 2px solid #000000;
}


@media not screen and (max-width: 500px) {
  #menu > ul a:hover{
    background: #f2f2f2;
  }
}

@media screen and (max-width: 500px) {
  #menu > ul {
    display: block;
    width: 100%;
    padding-bottom: 15px;
  }

  #menu > ul a {
    flex: none;
    display: block;
    width: 100%;
  }

  #menu > ul li {
    height: 30px;
    line-height: 30px;
  }

  #menu > ul li.active {
    border-bottom: none;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    font-weight: bold;
  }
}

.list-ideas {
  margin-top: 30px;
}

.list-ideas > .idea {
  padding: 10px 0;
  margin-top: 15px;
  box-sizing: border-box;
  word-wrap: break-word;
  cursor: default;
}

.list-ideas > .idea > .title {
  font-size: 14px;
  float: left;
  color: #777777;
  word-break: break-all;
}

.list-ideas > .idea > .title > .category {
  font-weight: bold;
  text-transform: uppercase;
}

.list-ideas > .idea > .datetime {
  font-size: 14px;
  float: right;
  color: #777;
}

.list-ideas > .idea > .description {
  /*border-top: 1px solid #cccccc;*/
  /*padding-top: 8px;*/
  clear: both;
}
