@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: #ffffff;
  /*background: #fafafa;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.container-main {
  padding: 0 10px;
  max-width: 750px; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  height: 50px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.header .logo
{
  display: block;
  height: auto;
  font-size: 35px; 
  line-height: 50px;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}

.menu {
  border-bottom: 1px solid #000000;
  margin-bottom: 40px;
}

.main {
  clear: both; 
  flex: 1;
}

.footer {
  height: 40px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
  font-size: 14px;
}

.list-inline {
  display: flex;
  margin: 0;
  text-transform: uppercase;
}

.list-inline a {
  flex: 1;
  color: black;
  text-decoration: none;
  transition: all .25s linear;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
}

.list-inline li {
  height: 40px;
  padding: 0; 
  margin: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
}

.list-inline li.active{
  border-bottom: 2px solid #000000;
}


@media not screen and (max-width: 500px) {
  .list-inline a:hover{
    background: #f2f2f2;
  }
}

@media screen and (max-width: 500px) {
  .list-inline {
    display: block;
    width: 100%;
    padding-bottom: 15px;
  }

  .list-inline a {
    flex: none;
    display: block;
    width: 100%;
  }

  .list-inline li {
    height: 30px;
    line-height: 30px;
  }

  .list-inline li.active {
    border-bottom: none;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    font-weight: bold;
  }

  .main {
    min-height: 350px;
  }
}

textarea {
  width: 100%;
  resize: none;
  font-size: 15px;
  border: 1px solid #cccccc;
  padding: 10px;
  outline: none;
}

button {
  border: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.idea-list {
  margin-top: 30px;
}

.idea-list .idea {
  padding: 10px 0;
  margin-top: 15px;
  box-sizing: border-box;
  word-wrap: break-word;
  cursor: default;
}

.idea-list .idea .name {
  font-size: 14px;
  float: left;
  color: #777;
}

.idea-list .idea .category {
  font-size: 14px;
  float: right;
  color: #777;
}

.idea-list .idea .description {
  border-top: 1px solid #cccccc;
  padding-top: 8px;
  clear: both;
}

/*.idea-list .idea:not(:last-child) {
border-bottom: 1px solid #cccccc;
}*/
