<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Log in</h2>
    <form name="form" ng-submit="vm.login()" novalidate>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" ng-model="vm.username" ng-change="vm.error = null" required/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" ng-model="vm.password" ng-change="vm.error = null" required />
      </div>

      <div class="form-group">
        <button ng-disabled="vm.loading" class="btn btn-primary">Log in</button>
        <img ng-if="vm.loading" src="style/spinner.gif" />
      </div>

      <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
      
    </form>
  </div>
</div>