<h3>Create new idea</h3>

<form id="new-idea" ng-hide="vm.success" ng-submit="vm.createIdea()">

  <div class="form-group">
  <label for="ideaName">Name</label>
    <input type="text" class="form-control" id="ideaName" ng-model="vm.idea.name" maxlength="50" required>
  </div>

  <div class="form-group">
    <label for="categoryName">Category</label>
    <select class="form-control" id="categoryName" ng-model="vm.idea.category" required>
      <option ng-repeat="category in vm.categories" value="{{ category.id }}">{{ category.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ideaDescription">Description</label>
    <textarea id="ideaDescription" ng-model="vm.idea.description" rows="5" maxlength="1000" required></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
    <img ng-if="vm.loading" src="style/spinner.gif" />
  </div>

  <div class="clearfix"></div>

  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

</form>

<div ng-show="vm.success" class="alert alert-success">{{vm.success}}</div>